<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css"/>
    <title>BoxOff</title>
</head>
<body>
    <div id="nav" class="container">
        <nav class="navclass">
            <div class="logocontainer">
                <img id="logo" src="/images/logo.png" alt="logo"/>
            </div>
            <div>
                <ul class="navlist">
                    <li class="lists">User Activities</li>
                    <li class="lists">Login</li>
                    <li class="lists">Sign Up</li>
                </ul>

            </div>
        </nav>
    </div>