<%- include('./partials/header.ejs'); -%>
<div class="container2" id="bodyid2">
    <a href="/">Logout</a>
</div>
<div id="thegrid" class="gridcontainer">
    <div class="dash">This is the dashboad</div> 

</div>

<%- include('./partials/footer.ejs'); -%>