<%- include('./partials/header.ejs'); -%>
<div class="container2" id="bodyid">
    
</div>
<p id="wework" class="howitworks">How it works</p>
<div class="howitworks">
    <ul class="howitworksorderlist">
        <li class="howitworkslist">One</li>
        <li class="howitworkslist">Two</li>
        <li class="howitworkslist">Three</li>
    </ul>
</div>
<div id="thegrid" class="gridcontainer">

</div>

<%- include('./partials/footer.ejs'); -%>