<%- include('./partials/headertwo.ejs'); -%>


<div id="thegrid" class="gridcontainertwo">
    <div class="singlemovies">
        <div class="imageposter">
           <img class="movieimage" src="/images/imagesmov.jpeg" alt="placeholderimage"/>
        </div>
        <div class="detail information">
            <ul>
                <li>Title</li>
                <li>Ratings</li>
                <li>Description</li>
            </ul>
        </div>
    </div>
</div>

