<%- include('./partials/header.ejs'); -%>

<div>
    <% profile.forEach ( function (ele ){ %>
        <h1><%= ele.title %> </h1>
    <%})%> 
</div>

<div class="container2" id="bodyid2">

    
</div>
<div id="thegrid" class="gridcontainer">
    

</div>

<%- include('./partials/footer.ejs'); -%>