@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
body{
    background: rgb(23,25,29);
    /* background: linear-gradient(90deg, rgba(23,25,29,1) 0%, rgba(42,42,42,1) 35%, rgba(0,0,0,1) 100%); */
    margin: 0px;
    font-family: 'Abel', sans-serif;
    overflow-x: hidden;
}
.navclass{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 110px;
    margin: auto;
}
.container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: fixed;
    background-image: linear-gradient(to bottom, #060606, #050504, #030303, #020201, #000000);
    width: 100%;
    z-index: 2;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #040404;
    color: #fff;
    margin: auto;
    width: 86%;
}

div#bodyid {
    background: #000;
    width: 100%;
    height: 650px;
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
}

div#bodyid2{
        background: #000;
        width: 100%;
        height: 292px;
        box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
}

img#logo {
    width: 81px;
    border-radius: 20px;
}

.howitworks {
    display: flex;
    justify-content: center;
    align-items: center;
}

#alreadymembers{
    margin-top: 15px;
    color: #ffffff;
}

#errormessage{
    color:#ffffff;
    font-size: larger;
}

p#wework {
    font-size: 3.1em;
    color: #5F6367;
    font-family: 'Abel', sans-serif;
}

.dash{
    color: #ffffff;
}

#userstyles{
    font-size: 1.7em;
    color: #fff;
    width: 150px;
}


li.howitworkslist {
    position: relative;
    float: left;
    width: 400px;
    height: 255px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #F9F9FA;
    margin-right: 12px;
    font-family: 'Abel', sans-serif;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 16px;
    font-size: larger;
    flex-direction: column;
}

.itworks{
    display: block;
    font-size: 1.7em;
}

.logocontainer{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 74%;
}

.gridcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    background-color: #040404;
    flex-wrap: wrap;
    height: 1600px;
    overflow-y: auto;
    margin: 30px auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 5px;
}

ul.navlist {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.lists {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    float: left;
    color: #fff;
    font-family: 'Abel', sans-serif;
    text-decoration: none;
    margin-right: 28px;
    margin-top: 5px;
    width: 113px;
    border-radius: 4px;
    border-top: 0.4px solid;
    height: 34px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(57, 57, 57, 0.3) 0px 18px 36px -18px inset;
}

li.lists:hover{
    border-top: unset;
    color: whitesmoke;
}

input.forminput {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 40px;
    margin-bottom: 18px;
    font-size: larger;
    font-family: 'Abel', sans-serif;
}

.formlabel {
    font-size: 2.1em;
    color: #cecece;
    margin-bottom: 18px;
    font-family: 'Abel', sans-serif;
}

form.regform {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    bottom: 81px;
}

input.formsubmit {
    width: 182px;
    height: 56px;
    font-size: 2em;
    cursor: pointer;
    font-family: 'Abel', sans-serif;
}

.beltdiv {
    height: 30px;
    background-color: #656B6F;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 10px;
    align-items: center;
}

.truncate {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 15px;
}
.avote {
    background-color: #ccc;
    border-radius: 10px;
    width: 122px;
    display: flex;
    height: 27px;
    font-size: 16px;
    color: #000000;
    justify-content: center;
    padding-right: 10px;
    align-items: center;
}


/**/

.three-images-wrapper {
    min-height: 41.4rem;
  }
  .three-images-wrapper .three-images {
    margin-bottom: 4rem;
    min-height: 360px;
    position: relative;
  }
  .three-images-wrapper .featured-image-outer {
    position: absolute;
    margin-left: -10%;
    min-height: 660px;
    overflow: hidden;
    width: 75.5%;
    -ms-transform: skew(-15deg, 0deg);
    /* IE 9 */
    -webkit-transform: skew(-15deg, 0deg);
    /* Safari */
    transform: skew(-15deg, 0deg);
    /* Standard syntax */
  }
  .three-images-wrapper .featured-image-inner,
  .three-images-wrapper .two-images-inner {
    background-size: cover;
    background-position: center;
  }
  
  .three-images-wrapper .two-images-inner:hover {
    opacity: 0.7;
  }
  .three-images-wrapper .featured-image-inner {
    left: 66px;
    position: absolute;
    top: 36px;
    height: 650px;
    width: 100%;
    -ms-transform: skew(15deg, 0deg);
    /* IE 9 */
    -webkit-transform: skew(15deg, 0deg);
    /* Safari */
    transform: skew(15deg, 0deg);
    /* Standard syntax */
  }
  .three-images-wrapper .two-images {
    min-height: 360px;
    position: relative;
    right: -65.5%;
    top: 110px;
    width: 40%;
    -ms-transform: skew(-15deg, 0deg);
    /* IE 9 */
    -webkit-transform: skew(-15deg, 0deg);
    /* Safari */
    transform: skew(-15deg, 0deg);
    /* Standard syntax */
  }
  .three-images-wrapper .two-images .two-images-outer {
    min-height: 271px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .three-images-wrapper .two-images .two-images-outer .two-images-inner {
    position: absolute;
    height: 273px;
    right: 8%;
    width: 100%;
    -ms-transform: skew(15deg, 0deg);
    /* IE 9 */
    -webkit-transform: skew(15deg, 0deg);
    /* Safari */
    transform: skew(15deg, 0deg);
    /* Standard syntax */
  }
  .three-images-wrapper .two-images .two-images-outer:nth-of-type(2) {
    margin-top: 10px;
  }

  #searchapi {
    position: relative;
    top: 350px;
    right: 41%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
}

input#searchbox {
    width: 40%;
    height: 53px;
    border-radius: 9px;
    position: relative;
    left: 20%;
    text-align: center;
    font-size: larger;
}

input#search {
    width: 11%;
    height: 39px;
    margin: 6px;
    position: relative;
    left: 20%;
    background-color: #F35B75;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: larger;
}

ul.ulgrid {
    /* width: 90%;
    height: 754px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
}

li.moviegrid {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: #fff;
    cursor: pointer;
    /* height: 420px; */
}

span#changecol {
    color: green;
}
span#titleid {
    font-size: large;
    font-weight: 800;
}
span#titleid {
    font-size: large;
    font-weight: 800;
    margin: 20px 10px;
    text-align: center;
}

img.movimage {
    width: 100%;
}
li#middleworklist {
    width: 500px;
    height: 300px;
    bottom: 26px;
}
.heroparagraph{
    color: white;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
}

